@font-face {
  font-family: 'Aquire';
  src: url('/assets/fonts/Aquire.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aquire';
  src: url('/assets/fonts/AquireBold.otf');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Aquire', sans-serif;
}