@font-face {
  font-family: "Aquire";
  src: url("../fonts/Aquire.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Aquire";
  src: url("../fonts/AquireBold.otf");
  font-weight: 700;
  font-style: normal;
}

html {
  background: #f8f8f8;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #161616;
}
html::after {
  content: "";
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  height: 0;
  transition: all 400ms cubic-bezier(0.60, 1, 0.9, 1); 
  animation: fade-out-curtain 0.5s cubic-bezier(0.60, 1, 0.9, 1) forwards;
  /* animation: >name >duration >timing-function delay iteration-count direction >fill-mode play-state; */
  /* transition: >property >duration >timing-function delay|initial|inherit; */
}
@keyframes fade-out-curtain {
  0% { height: 100vh; }
  100% { height: 0vh; }
}

.text-black, 
a {
  color: #161616;
}


header {
  padding: 0 8vw;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 900;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Aquire", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #161616;
  position: relative;
}
header .logo .text-black.switch-color {
  color: #f8f8f8;
}
header .logo a {
  display: inline-block;
  border: none;
  padding: 0 6px;
  z-index: 2;
  color: blue;
}
header .logo a:visited {
  color: blue;
}
header .logo a span {
  cursor: pointer;
}
header .logo .letter-w {
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 1;
}
header .logo:hover {
  opacity: 0.5;
}
header .menu-burger {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  z-index: 900;
  cursor: pointer;
}
header .menu-burger__icon {
  display: inline-block;
  width: 28px;
  height: 16px;
  position: relative;
  overflow: visible;
  margin-top: -5px;
  pointer-events: none;
}
header .menu-burger__icon .line {
  width: 28px;
  height: 3px;
  left: 0;
  position: absolute;
  display: block;
  background: #161616;
}
header .menu-burger__icon .line.switch-color {
  background: #f8f8f8;
}
header .menu-burger__icon .line:nth-child(1) {
  top: 5px;
}
header .menu-burger__icon .line:nth-child(2) {
  top: 14px;
}
header .menu-burger:hover .menu-burger__icon .line:nth-child(1) {
  animation: menu-burger__hover 0.5s forwards;
}
header .menu-burger:hover .menu-burger__icon .line:nth-child(2) {
  animation: menu-burger__hover 0.5s 0.1s forwards;
}
@keyframes menu-burger__hover {
  0% { left: 0; width: 20px; }
  50% { left: 28px; width: 0; }
  51% { left: 0; width: 0; }
  100% { left: 0; width: 28px; }
}
header.menu-open .menu-burger .menu-burger__icon .line:nth-child(1) {
  width: 28px;
  top: 7px;
  transform: rotate(45deg);
  transition: top 0.1s ease-out, transform 0.2s 0.15s cubic-bezier(0.2, 0.6, 0.4, 1); 
}
header.menu-open .menu-burger .menu-burger__icon .line:nth-child(2) {
  top: 7px;
  width: 28px;
  transform: rotate(135deg);
  transition: top 0.1s ease-out, transform 0.2s 0.15s cubic-bezier(0.2, 0.6, 0.4, 1); 
}
header .menu-bar {
  position: fixed;
  top: 0;
  right: -20px;
  width: calc(50vw + 20px);
  min-width: 350px;
  height: 100vh;
  background: #fff;
  padding: clamp(100px, 8vw, 120px) 8vw;
  transition: transform 500ms cubic-bezier(0.2, 0.6, 0.4, 1);
  transform: translateX(100%);
  overflow-y: hidden; 
  z-index: 3;
}
header .menu-bar ul {
  margin: 40px 0;
}
header .menu-bar .menu-bar__title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  padding-top: 20px;
}
header .menu-bar .menu-bar__personal {
  font-size: clamp(30px, 4vw, 65px);
  line-height: 1.4;
}
header .menu-bar nav {
  padding-top: 20px;
}
header .menu-bar .menu__skills,
header .menu-bar .menu__social  {
  font-size: 18px;
  line-height: 1.8;
}
header.menu-open .menu-bar {
  transform: translateX(0); 
}
main .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms linear; 
  z-index: 1;
}
main.menu-open .backdrop {
  opacity: 1;
  visibility: visible; 
}
main.menu-open {
  position: fixed;
  height: 100vh;
}
main #hero {
  height: 100vh;
  width: 100%;
  max-width: 1100px;
  position: relative;
  padding: 0 calc(8vw + 2px);
}
main #hero .hero-holder {
  position: fixed;
  bottom: 60px;
  z-index: -1;
}
main.initial-load .hero-text {
  visibility: hidden;
}
main .hero-text {
  font-size: clamp(20px, 10vw, 140px);
  font-weight: 700;
  visibility: visible;
}
main .hero-text > div {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  position: relative;
  margin-top: 1vw;
}
main .hero-text .hero-text__text {
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  display: inline;
}
main .hero-text .hero-text__dot {
  width: clamp(4px, 2.1vw, 22px);
  height: clamp(4px, 2.1vw, 22px);
  border-radius: calc(clamp(4px, 2.1vw, 22px)/2);
  background-color: blue;
  position: absolute;
  left: 0;
  bottom: clamp(2px, 1.4vw, 18px);
  opacity: 0;
}
main .hero-text div:nth-child(1) .hero-text__text {
  animation: typing 1.7s linear 2.7s forwards;
}
main .hero-text div:nth-child(2) .hero-text__text {
  animation: typing 1.7s linear 4.5s forwards;
}
main .hero-text div:nth-child(3) .hero-text__text {
  animation: typing 1.7s linear 6.3s forwards;
}
main .hero-text div:nth-child(1) .hero-text__dot {
  animation: typing-dot-blink 0.5s 4 0.7s forwards, typing-dot1 1.7s linear 2.7s forwards;
}
main .hero-text div:nth-child(2) .hero-text__dot {
  animation: typing-dot2 1.7s linear 4.5s forwards, typing-dot2-transform 1.5s linear 8.5s forwards;
}
main .hero-text div:nth-child(3) .hero-text__dot {
  animation: typing-dot3 1.7s linear 6.3s forwards;
}
@keyframes typing {
  0% { width:0% }
  100% { width:100% }
}
@keyframes typing-dot1 {
  0% { opacity: 0 }
  1% { opacity: 1; left: 1% }
  19% { opacity: 1; left: 19% }
  40% { opacity: 0 }
  100% { opacity: 0; left:19% }
}
@keyframes typing-dot2 {
  0%,90% { opacity: 0 }
  1% { opacity: 1; left: 1% }
  76% { opacity: 1; left:76% }
  100% { opacity: 0; left:76% }
}
@keyframes typing-dot2-transform {
  0% { opacity: 0; }
  50% { transform: scale(250%,250%) }
  100% { opacity: 1; transform: scale(100%,100%) }
}
@keyframes typing-dot3 {
  0% { opacity: 0 }
  1% { opacity: 1; left: 1% }
  99% { opacity: 1 }
  100% { opacity: 0; left:100% }
}
@keyframes typing-dot-blink {
  0%,100% { opacity: 0}
  50% { opacity: 1}
}
main .hero-text div:nth-child(2) .hero-text__text span,
main .hero-text div:nth-child(3) .hero-text__text span:nth-child(2) {
  animation: typing-letter-color 1.5s linear 8.5s forwards;
}
@keyframes typing-letter-color {
  100% { color: blue}
}
main .hero-text div:nth-child(3) .hero-text__text span:nth-child(1) {
  animation: typing-letter-blank 1.5s linear 8.5s forwards;
}
@keyframes typing-letter-blank {
  50% { opacity: 0.2 }
  75% { opacity: 1 }
  100% { -webkit-text-fill-color: transparent; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #161616}
}

main #about {
  padding-top: 160px;
} 
main .about-holder {
  padding: 8vw calc(8vw + 2px);
  padding-bottom: 15vw;
  color: #f8f8f8;
  background-color: #161616;
  width: 100%;
}
main #about h2 {
  font-size: clamp(46px, 10vw, 100px);
  padding-top: 7vw;
}
main .about-text {
  margin-top: clamp(8vw, 16vw, 16vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .about-text p {
  font-size: clamp(26px, 4vw, 36px);
  line-height: 1.3;
  width: 100%;
  max-width: 460px;
  margin-right: 160px;
}
main .about-text ul {
  font-size: clamp(13px, 2vw, 18px);
  text-transform: uppercase;
  letter-spacing: 0.14em;
  line-height: 2;
  margin-top: clamp(8vw, 16vw, 16vw);
  padding-right: 8vw;
}